.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #3E54AC;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}

.scroll-to-top-button.visible {
    display: block;
}
@media only screen and (max-width: 768px) {
    .scroll-to-top-button {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
    
        z-index: 99;
        border: none;
        outline: none;
        background-color: #3E54AC;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        font-size: 20px;
    }
    
    .scroll-to-top-button.visible {
        display: block;
    }
}